.body{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.userTable{
  width:auto;
  padding:20px;
}
.sidelist{
  display:flex;
  list-style-type:none;
  flex-direction: column;
 
}
.sidebar{
  width:300px;
  margin:20px;
  
}

.cardbody{
  display:flex;
  flex-wrap: wrap;
}
.eachcard{
  /* border:1px solid black; */
  word-wrap: break-word;
  width: 250px;
  margin:10px;
  box-shadow: 3px 3px 9px 1px;
}
.details{
  margin:10px;
}
.buttons{
  display:flex;
  justify-content: space-evenly;
  margin:5px;
}
.addbuttondiv{
  display:flex;
  justify-content: center;
}
.input{
  margin:10px;
}
.eachcard:hover{
  box-shadow: 3px 3px 9px 1px rgb(255, 176, 176);
}
.endline{
  position: relative;
  bottom: 0;
  background-color: black;
  color:rgb(148, 148, 148);
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width:100%;
  word-wrap: break-word;
}